<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <appender name="MyDailyRollingFileAppender" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="datePattern" value="'.'yyyy-MM-dd_HH-mm" />
    <param name="file" value="./logs/AppDailyRolling.log" />
    <param name="Append" value="true" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} %-5p [%t] %c: %m%n" />
    </layout>
  </appender>

  <appender name="MyRollingFileAppender" class="org.apache.log4j.RollingFileAppender">
    <param name="file" value="./logs/AppRolling.log" />
    <param name="Append" value="true" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} %-5p [%t] %c: %m%n" />
    </layout>
  </appender>


  <logger name="de.ofenloch.util.randomnames.AppTest" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="MyRollingFileAppender" />
  </logger>

  <logger name="de.ofenloch.util.randomnames.randomnames" additivity="false">
    <level value="INFO" />
    <appender-ref ref="MyRollingFileAppender" />
  </logger>

  <root>
    <priority value="INFO" />
    <appender-ref ref="MyRollingFileAppender" />
  </root>

</log4j:configuration>